<div class="navbar">
  <div class="title">
      <p>PARME</p>
  </div>
  <div class="menu">
    <%= link_to 'Home', root_path %>
    <%= link_to 'A propos', pages_about_path %>
    <%= link_to 'Se connecter', new_user_registration_path %>
  </div>
</div>
