
<div class="card-review">
  <div class="name-stars">
      <h3><%= review.user.first_name.capitalize %> <%= review.user.last_name.capitalize %></h3>
      <% review.rating.floor.times do %>
        ★
      <% end %>
  </div>
  <div class="date">
      <p> <%= review.created_at.strftime('%d/%m/%Y') %></p>
  </div>
  <div class="review-description">
    <p><%= review.description %></p>
  </div>
</div>
