
<div>
  <h3><%= review.dress.user.first_name.capitalize %> <%= review.dress.user.last_name.capitalize %></h3>
  <p> <%= review.created_at %></p>
  <% review.rating.floor.times do %>
    ★
  <% end %>
  <p> <%= review.description %></p>
</div>
