// Boutons generaux

.buttonG {
  font-family: 'confortaa', sans-serif;
  padding: 8px 40px;
  background-color: #ecd4cc;
  transition: 0.3s;
  color: #fff !important;

  &:hover {
  opacity: 0.6;
  }
}

.buttonG > input {
  color: white;
}




// ---------------------------------------

