.card-review{

  h3{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }

}

.name-stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date{
  font-size: 12px;
  color: grey;
}

.review-description{
  margin-top: 1rem;
}
