.card_dresses {
  display: flex;
  padding: 1rem;
  color: black;
  max-width: 900px;
  width: 100%;

  img {
    width: 200px;
    height: 200px;
    margin-right: 1rem;
  }

  p{
    margin: 0;
  }
}

.description{
  flex: 1 0 auto;
}

.top {
  display: flex;
  justify-content: space-between;
}

.down {
  display: flex;
  justify-content: space-between;
}
