.card {
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 400px;
  padding: 4rem;
  color: black;
  font-family: oranienbaum;
}

.button1 {
  font-family: 'Brawler';
  margin: 20px auto;
  background-color: #ecd4cc;
  text-decoration: uppercase !important;
  color: #ffffff !important;
  border: 2px solid #ecd4cc;
  transition: 0.4s;

}

.button1 > input {
  color: white;
}

.button1:hover {opacity: 0.6}


.center {
  text-align: center
}

.surcouche {
  font-family: 'Brawler';
  font-size: 10px;
  text-decoration: none;

  a {color: black !important;}
}

h4 {
  padding: 1em;
  font-family: 'Brawler';
  font-size: 40px;
}

.titres_grand {
  font-family: 'Brawler';
  font-size: 40px;
}

.titres_petit {
  font-family: 'Brawler';
  font-size: 15px;
}

.textdecorationnone {
text-decoration: none;

}

.titrepassword {
  padding: 0em 0em 2em;
  font-family: oranienbaum;
  font-size: 36px;
  color: #4A020B;

}



.cardnewdress {
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 500px;
  padding: 4rem;
  color: black;

}

