// --------------------------------------
// nouvelles class (actives)
// --------------------------------------

.titre_formulaire {
  font-family: comfortaa;
  font-size: 30px;
  padding: 0em 0em 1em;

  input {
    font-family: comfortaa;
  }

}

.titrepassword {
  padding: 0em 0em 1em;
  font-family: comfortaa;
  font-size: 30px;
  color: #4A020B;

}
.liensbasformulaire {
  font-family: comfortaa;
  font-size: 10px;
  text-decoration: none;
  margin: 1em;
}



// -------------------------------------



.card {
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 400px;
  padding: 4rem;
  color: black;
  font-family: oranienbaum;
}



.center {
  text-align: center
}

.surcouche {
  font-family: 'Brawler';
  font-size: 10px;
  text-decoration: none;
}

h4 {
  padding: 1em;
  font-family: 'Brawler';
  font-size: 40px;
}

.titres_grand {
  font-family: 'Oranienbaum';
  font-size: 40px;
  padding: 1em;
}

.titres_petit {
  font-family: 'Brawler';
  font-size: 15px;
}

.textdecorationnone {
text-decoration: none;

}




.cardnewdress {
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 500px;
  padding: 4rem;
  color: black;

}



