.navbar {
    background-color: #ECD4CC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 16px;
    font-family: 'Comfortaa', sans-serif;
    height: 75px;

      button {
        color: #4A020B !important;
      }
}

.title > a {
  font-size: 30px;
  font-family: 'Oranienbaum', serif;
  padding-left: 15px;
}

a {
    color: #4A020B !important;
}

ul > li {
  margin: 1rem;
}

ul {
  margin-right: 2rem;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #ECD4CC;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbarDropdown {
  border: none;
  background-color: transparent;
  margin: 0;
}

.link-right > li > a{
  font-size: 6px;
}

.flex {
  display: flex;
}
