.navbar {
    background-color: #ECD4CC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    color: black;
}

.title {
  width: 60%;
  display: flex;
  align-items: center;

  p{
    margin: 0;
  }
}

.menu{
  display: flex;
  width: 40%;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: black;
  }
}
