.navbar {
    background-color: #ECD4CC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    color: black;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #ECD4CC;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbarDropdown {
  border: none;
  background-color: transparent;
  margin: 0;
}
